name: IaC Pipeline

on:
  workflow_dispatch:
  push:
    paths:
      - 'Saas_volunbase/infra/**'

jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Saas_volunbase/infra/terraform
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
        env:
          TF_VAR_region: ${{ secrets.AWS_REGION }}
        run: terraform plan -input=false -out=tfplan

